


<div class="secondDiv">
<h2 style="font-family:Roboto"> THE DOLPHIN CENTER</h2>
</div>
<div class="youarehere">
You are here:
</div>

<div class="container">

<div class="container">

<div class="row ">
<div class="col-lg-3" style="margin-top:30px">
<img src="/assets/dolphin.png" alt="dolphin logo">
</div>

<div class="col-lg-9 "style="margin-top:28px">
<h4 style="padding-bottom:10px" >WELCOME TO THE DOLPHIN CENTER!</H4>

<p class="textLine">The Dolphin Center after-school child-care center has offered after-school supervision of Cold Spring students for over two decades. Although the Dolphin Center is operated by Cold Spring School, (CSS), it is a self-supporting entity, relying upon the fees charged to parents for its operating expenses.</p>
</div>
<p class="textLine" style="padding-left:20px;padding-top:14px;">Any child attending CSS may attend the Dolphin Center, providing that parents have completed a registration & medical / emergency form agreeing to the conditions of participation. Currently, the Dolphin Center employs Childcare Coordinator Trevor MacLeod and Childcare Worker Isabel Martinez, supplemented by up to ten Westmont College students, who each work approximately 9 hours per week.</p>
</div>
</div>
</div>

<div class="container-fluid textLine" style="background-color:rgb(236, 236, 236);padding:70px 60px 70px 60px;border-top:1px solid lightgray;border-bottom:1px solid lightgray;">

<p> The Dolphin Center is primarily an outdoor program, encouraging non-competitive play and participation in structured games and sports. Counselors are encouraged to actively participate with children in art projects, board games, free play, and sport activities, rather than merely supervise these activities. There is a daily snack and a minimum of 20 minutes of homework or reading time each day.</p>

<p>At this time, the average daily attendance at the Dolphin Center is approximately 40 students. Children remain from 30 minutes to 3 1/2 hours each day, and parents are billed for the time each child is in attendance at a rate of $9.00 per hour. Hours of operation are from the end of the school day until 5:30 P.M.</p>

<p>Most days, the Dolphin Center will accept drop-in students. Parents are asked to notify the Dolphin Center by 1:30 P.M., so that the student may be added to the daily roll sheets, and will not become confused or upset waiting for a parent that is delayed. <b>Please call (805) 969-5330 or <a style="text-decoration:underline; color:black;"  href=“mailto:dolphin@coldspringschool.net>email dolphin@coldspringschool.net</a>
</b></p>

</div>

<div class = container>
<p class="textLine" style="padding-top:35px">If parents have not arrived within 15 minutes of the after school dismissal of their child, and do not contact the Dolphin Center, s/he will automatically be checked into the Dolphin Center, and an attempt to contact parents will be made. There will be a normal charge for this service, from the time of school dismissal until the child is picked up. Please keep in mind that Cold Spring School Office Staff and Dolphin Center Staff will not be available when asked to coordinate spur-of-the-moment playdates. We appreciate your preplanning and consideration.
</p>
<br><br>
<p>
If you have questions or comments, please call the school office at <b>(805) 969-2678.</b>
</p>
<br>
<p class="textLine" >TO REGISTER FOR DOLPHIN CENTER, PLEASE COMPLETE
<a href= "assets/pdfs/DCRF.pdf" style="text-decoration:underline">THE DOLPHIN CENTER REGISTRATION FORM.</a>
</p>
<p class="textLine" style="padding-bottom:65px">
<a  href= "assets/pdfs/DCRF.pdf" style="text-decoration:underline"> LINK TO THE DOLPHIN CENTER HANDBOOK</a>
</p>

</div>











