<head>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<style>
li a{
text-decoration:underline;
}

ol              {
list-style: none;
}


ol li:before{
content: "\00BB \0020";
}

</style>
</head>

<div class="container-fluid px-0">
<div class="row mx-0">
<div class="col-12 px-0">
<img src="/assets/art-header-image.png" class="img-fluid w-100" style="margin-top:-7px">
</div>
</div>
</div>

<div class="secondDiv">
<h2 style="font-family:Roboto"> GATE</h2>
</div>
<div class="youarehere">
You are here:
</div>

<div class="container">

<div class="col-lg-4" style="font-size:24px;font-family:Roboto;padding-top:20px">
GATE Program Description
</div>
<div class="col-lg-12 textLine" style="font-size:17px;font-family:Roboto;padding-top:25px">
The goal of the GATE Program is to serve the unique academic and social- emotional needs of gifted and high-achieving students at Cold Spring School. The positive learning environment at Cold Spring encourages all students to strive for excellence. Differentiated instruction provides appropriate learning opportunities for gifted students at all grade levels. All teachers TK-6th recognize the need for differentiated instruction to students who are high-achieving or too young to qualify for services.
</div>
<div class="col-lg-12 textLine" style="font-size:17px;font-family:Roboto;padding-top:25px">
The curriculum enriches and expands basic grade level objectives by providing and focusing on:<br>
- A stimulating and creative atmosphere conducive to high achievement by exploring, experimenting, and challenging students<br>
- Differentiated opportunities for learning appropriate to the particular abilities and talents of gifted and talented students<br>
- Inclusion of critical thinking and decision making throughout the curriculum<br>
- Opportunities for student leadership for grades 3-6 (Student Council)<br>
- Additional opportunities for enrichment (Math Club, Math Superbowl, Battle of the Books, Art Fair, School-wide Spelling Bee,<br>     Science Fair, Technology, Coding, Robotics, STEAM, Writing Club)<br>
- Opportunities for emotional/social support (Friendship Group with school psychologist, mindfulness lessons)
</div>
<div class="col-lg-4" style="font-size:19px;font-family:Roboto;padding-top:30px">
<a class= "textUL" href="/assets/gateProgramDescription.pdf"> Gate Testing and Identification</a>
</div>
<div class="col-lg-4" style="font-size:24px;font-family:Roboto;padding-top:30px">
GATE Links
</div>

<div style="padding-top:30px;padding-bottom:65px;margin-left:-20px;">
<ol class="textLine">
<li><a href="http://www.davidsongifted.org/db/Articles_id_10200.aspx" target="_blank">Davidson Institute Tips for Parents of Gifted Readers</a></li>
<li><a href="http://www.geniusdenied.com/articles.aspx?articleid=30&amp;NavID=1_11" target="_blank">Genius Denied: Gifted Students Favorite Books and Authors</a></li>
<li><a href="http://www.hoagiesgifted.org/reading_lists.htm" target="_blank">Hoagies' Gifted Education Page</a></li>
<li><a href="http://senggifted.org" target="_blank">SENG: Supporting the Emotional Needs of the Gifted</a></li><li><a href="http://www.cde.ca.gov/sp/gt/gt" target="_blank">California Department of Education: GATE Standards</a></li>
</ol>
</div>

</div>

