

<div class="container-fluid px-0">
<div class="row mx-0">
<div class="col-12 px-0">
<img src="/assets/art-header-image.png" class="img-fluid w-100" style="margin-top:-7px">
</div>
</div>
</div>

<div class="secondDiv">
<h2 style="font-family:Roboto"> ART</h2>
</div>
<div class="youarehere">
You are here:
</div>

<div class="container">


<div class="col-lg-12 textLine" style="font-size:17px;font-family:Roboto;padding-top:60px;padding-bottom:150px">
At Cold Spring School our teachers work together to create units of study that incorporate fine art into the development of motor skills, cognitive development, math concepts, engineering, language arts, and of course creativity! Our students understand how art fits into every aspect of learning and how it plays a part in world cultures, history and their future careers. Most importantly, art builds confidence through self directed problem solving and allows students to express their unique ideas in a fun and encouraging setting. This supportive and enriching environment at CSS allows the students to explore a wide range of media and techniques such as ceramics, painting, drawing, printmaking, fiber arts, sculpture and collage. Our little artists create functional ceramic pottery, pull prints off of a press, paint landscapes in the style of Impressionists, carve sculptures like the Romans and experience their own street painting festival. The students experience field trips to museums and galleries, visits from resident artists, and a school wide art exhibit that showcases their achievements. To watch a great video about the art program, <a href="#">click here.</a></div>

</div>
<div>
</div>
<div>
</div>
<div>
<br><br>

</div>
