<style>

p{
padding-top:15px;
line-height:29px;
font-size:16px;
}
a{

text-decoration:underline;
}

</style>

<div class="secondDiv">
<h2 style="font-family:Roboto"> CHORUS</h2>
</div>
<div class="youarehere">
You are here:
</div>


<div class="container " style="padding:30px 60px 70px 60px;">

<p> Cold Spring School Chorus (established 1993) by Pam Herzog has been an integral part of music enrichment at Cold Spring School for the last 25 years.  The chorus program is open to students in 4th-6th grades and meets before and after school for 2 hours each week beginning in September and concluding in early May.  We meet Tuesday and Thursday mornings from 7:45-8:25am and Wednesday afternoons from 2:30-3:00pm.  Through rehearsals, community support, and family commitment, we are able to deliver this outstanding program to our students and to the Santa Barbara County.
</p>

<p>   Throughout the duration of the year, students learn to sight-sing, to sing harmony, and to sing pieces in various languages including German, French, Italian, Spanish, and Latin.  Students learn the value of teamwork, how to be critical listeners, how to perform, and the responsibilities that come with group participation.  They also have opportunities to connect with the community at large and the larger world of choral singing through field trips, choral performances, and choral exchanges with other childrens choruses.

</p>

<p>Performances include:</p>

<p>
Fall Semester - Assisted Living Home Performances, Pianos on State, Fall Sing, Caroling in the neighborhood, The Doubletree, and the Winter Sing
Spring Semester - Choral and Band Festival at the Lobero Theater (April), Choral Exchange, Disneyland (April), Spring Sing
</p>

<p>
Click on the vimeo links below to hear a sampling of our childrens choir:
</p>

<p>
<a href="https://vimeo.com/264278073">We Honor You</a>
</p>

<p>
<a href="https://vimeo.com/264278121">The Path To The Moon</a>
</p>

<p>
<a href="https://vimeo.com/264280901">Edelweiss</a>
</p>

<p>
Sara DiSalvo
Cold Springs School Music Teacher<br>
sarajdisalvo@yahoo.com<br>
(805) 452-8451<br>

</p>

</div>
