<style>
p{
padding-top:15px;
}
ol li{
padding-top:30px;
list-style-type:disc;
}
ol{
padding-left:20px;
}
</style>
<div class="secondDiv">
<h2 style="font-family:Roboto">LIBRARY</h2>
</div>
<div class="youarehere">
You are here:
</div>


<div class="container textLine" style="padding:30px 60px 70px 60px;">

<p>  Welcome to the Cold Spring School Library. Our beautiful facility opened in November of 1994 after a fund raising campaign that involved students, parents, alumni, and the community.</p>

<p>     Principal/Superintendent Art Fisher was the inspiring force behind the design and building of the library. Designed by former Cold Spring Parent and architect, John Kelley, the building features soaring open-beamed ceilings and large windows that overlook a patio fountain decorated with tiles hand-made by our students and graced by a dolphin head water spout donated by renowned sculptor Bud Bottoms.
</p>

<p>One of the most special places in the library is our inglenook. With its working fireplace and small cozy environment, it has become a favorite spot in the library to curl up with a good book. Classes also meet there for story times.</p>

<p>
Our library houses a collection of approximately 7,000 volumes of fiction and nonfiction.  Each class comes to the library for a scheduled lesson once a week in the lower grades and every other week in the upper grades. Our program's main objective is to instill in children a true love for reading and a life-long quest for learning.  Library and research skills are taught to grades 2 - 6 following the Standards and Guidelines of the California School Library Association, and all grades are exposed to a wide variety of wonderful children's literature.
</p>

<p>
The Mission of the Cold Spring School Library is to be a place:
</p>

<p >
<ol style="margin-top:-40px;margin-bottom:-2px">
<li>Where all students can strive for and achieve success </li>
<li> Where quality collections are provided, in print and online, that support the curriculum and address a variety of learning needs
 </li>
<li> Where students develop a love of reading and literature </li>
<li> Where library media specialists help students explore the world around them through print and electronic media </li>
<li> Where students can work individually or in small groups on research and collaborative projects </li>
</ol>
</p>
<p>
(from School Libraries Work, Scholastic Research Foundation)
</p>
<p>
About the Librarian:
</p>

<p style="line-height:30px">
<span style="padding-left:20px;">Hello</span>, my name is Misha Lewis, and I am delighted to be your librarian.  Thank you to Janet Reid, Cold Spring Librarian from 1989-2015, for her many years of service to the library and her endless dedication to the children and families of Cold Spring.  She created an amazing program, and I am dedicated to continuing her tradition of making our library a creative and thoughtful space focused on student thinking and growth.  I appreciate the time that she spent sharing wonderful resources with me as I prepared for this new position.  We have a very special library, and I love sharing its treasures with our wonderful students!</p>
<p style="padding-top:0px"><span style="padding-left:20px;">I am </span> a graduate of Santa Clara University where I earned a Bachelor’s degree in Spanish Studies.  I hold a multiple subject teaching credential with a specialization in bilingual, crosscultural language and academic development from CSULB and a G.A.T.E. certificate from UCSB.  I have studied and taught in Spain, Mexico, and here in California.  I have been a teacher at Cold Spring School since 2004, serving as a third and fourth grade teacher and as a teacher on special assignment.  I am looking forward to the wonderful year ahead as your librarian.  To learn more click here.
</p>
<div class= container>
<p class="col-md-6" style="margin-top:40px;margin-left:-25px">
Misha Lewis, Librarian & Reading Specialist
mlewis@coldspringschool.net.<br>
Cold Spring School
</p>
</div>
</div>
