<style>
p{
padding-top:15px;
line-height:32px;
}

</style>
<div class="secondDiv">
<h2 style="font-family:Roboto">MUSIC</h2>
</div>
<div class="youarehere">
You are here:
</div>


<div class="container textLine" style="padding:30px 60px 70px 60px;">

<p> Through exposure to various music styles, genre, history, and instruments, CSS students receive a comprehensive music education taught by credentialed music teacher, Sara DiSalvo. The music curriculum is designed to teach music literacy and music history through vocal and instrumental training including instruction in violin, recorder, ukulele. With 2-3 classes per week, students employ creative problem solving skills and opportunities to improvise. Students make connections across the disciplines of science, history, ELA, and art through songs woven throughout the curriculum.</p>

<p>   All students participate in three major performances: the Fall, Winter, and Spring Sings.  These exhibitions of learning serve as performance assessment for each semester/unit.  Unique to 6th grade is the opportunity to perform a full-length musical each Spring as a culmination of their learning at CSS.
</p>

<p>In addition to general music classes, students have enriching musical learning and performing opportunities in and outside of the regular school day by electing to participate in the <a href="/chorus">Cold Spring School Chorus</a>, or the Cold Spring School Band (available to 4-6th grade students). Each January, we host guest artist residents who offer experience in multi-cultural music and movement. Through the Children’s Creative Project, students receive access to field trips by touring artists both at school and at local theater venues.</p>

<p>
These programs are made possible by the generosity of our sponsors including: CSS Parent Club, CSS Foundation, SB Education Foundation, SB Bowl Education grants, and Village Properties.
</p>


</div>
