<style>
p{
padding-top:15px;
line-height:32px;
font-size:17px;
}
</style>


<div class="container-fluid px-0">
<div class="row mx-0">
<div class="col-12 px-0">
<img src="/assets/pe.png" class="img-fluid w-100" style="margin-top:-7px">
</div>
</div>
</div>
<div class="secondDiv">
<h2 style="font-family:Roboto">PE</h2>
</div>
<div class="youarehere">
You are here:
</div>
<div class="container textLine" style="padding:30px 60px 70px 60px;">

<p> The goals for P.E. are to be fit and healthy for life. I prepare students so that they can be physically and mentally active. The students will experience setting goals and working towards them. Through a wide variety of sports and activity they will be able to work on meeting the standards they need for success in P.E.  In Football they work on teamwork, passing and catching the football. Soccer teaches dribbling, passing and trying to score a goal while working together. With Golf, hand and eye coordination is crucial while trying to hit a golf ball. Kickball works on teamwork, kicking, catching and throwing the ball.
</p>

<p>     We will play many different types of games; Handball, Four square, Tennis and Tetherball. These are some of things we do for Hand and Eye Coordination. Using a Tennis Racket to hit tennis balls and balloons enhances the ability to track a moving object. Playing Four Square we use different sizes of balls to challenge the whole body in one game.  They will also be taught the rules of International and American Handball.Doing Jump Rope teaches about Heart rate and how it relates to fitness, also the concept of turning a rope and jumping over it. Frisbee students will work on the different types of grips for throwing and catching and the playing some fun games
</p>

<p>In Fitness testing there will be five tests to complete.<br>
Core and Abdominal strength (Sit-Ups)<br>

Quickness and Agility (Shuttle Run)<br>

Flexibility in the Hamstrings and Lower Back (Sit and Reach)<br>

Aerobic Fitness (With an Age appropriate Run ¼ mile, ½ mile and 1 mile)<br>

Upper Body strength (Pull-Ups, Push-Ups and Flex arm Hang)

</p>

<p>
Lacrosse works with a Lacrosse Stick and Balls to pass, catch and making a goal. Learning the rules of the game for Girls and Boys. Then playing a game to work on their skills and working together as a team.  Track and Field third through Sixth will be getting ready for the Track and Field meet.  They we be training in the Long Jump, Shot Put, Softball Throw, 55 Yard Dash and Relays. All students will get a chance to try the Discus, Javelin, Hammer throws, Long Jump, Shot Put, Softball Throw, 55 Yard Dash and Relays. Volleyball works on hand and eye coordination while trying to set, pass and serve the volleyball. They will be taught rules of the game and play a game. We also play other games that involve the volleyball court.
</p>

<p>
  My students each day work on improving physical fitness skill and motor skills development. Healthful physical activity teaches self-discipline. It facilitates development of student responsibility for health and fitness influences moral development, leadership, and cooperation with others. P.E. strengthens peer relationships, improves self-confidence, self-esteem and respect.
</p>


</div>
