
<style>
p{
padding-top:15px;
line-height:32px;
font-size:16px;
}

a{
text-decoration:underline;
}

.pTitle{
margin-top:25px;
margin-bottom:10px;
font-size:25px;
font-weight: bold;
}
</style>

<div class="container-fluid px-0">
<div class="row mx-0">
<div class="col-12 px-0">
<img src="/assets/steam.png" class="img-fluid w-100" style="margin-top:-7px">
</div>
</div>
</div>
<div class="secondDiv">
<h2 style="font-family:Roboto">STEAM</h2>
</div>
<div class="youarehere">
You are here:
</div>






<div class="container col-lg-7" style="padding:30px 60px 70px 60px;">

<p>  STEAM, the integration of Science, Technology, Engineering, Art, and Math, has emerged as a method for equipping students with the skills and knowledge essential to become innovators and leaders in our rapidly progressing, globalized society.</p>

<p>     Cold Spring School District recognizes the value of preparing students for the changing future, and for this purpose, created a STEAM program for grades K-6. Not only does this program provide an opportunity for our students to engage in real-world situations as context for learning, STEAM supports and reinforces our California content standards.
</p>
<div class = "pTitle">Preparing for the Real-World</div>
<p>
Through the STEAM program, our students use Project-based Learning and the engineering design process to create everything from functioning models of human organs, to a symphony of well-tuned musical instruments. The curriculum is fluid and responsive to real-world events. Classroom teachers work closely with the STEAM specialist to generate a seamless flow of lessons that allow students to experience firsthand that the world is not comprised of discrete disciplines, but interdependent, ever-connected systems. Rather than memorizing facts in isolation, students construct a constantly evolving and expanding framework of knowledge - a lasting lens through which they view and make sense of the world around them.
</p>

<div class = "pTitle">Preparing All Learners</div>
<p>
Through STEAM, Cold Spring students are on a journey of discovery, problem solving, failed first attempts, and triumphant solutions. This type of inquiry-driven learning engages students by transferring ownership from the teacher into the hands of the class. The unique strengths and gifts of each student are emphasized, and all learning styles have an opportunity to be successful. Students are scientists and engineers from their first moments at Cold Spring.
</p>

<div class = "pTitle">Preparing Citizens</div>
<p>
In STEAM, our students are fixers. They are yes-sayers, and "I don't know but I can figure it out" believers. They collaborate. They persevere. And fundamentally, they see STEAM as an opportunity for stewardship. They serve the community, and recognize their role in contributing positively to the world around them.
</p>

<p>
The STEAM Program in Cold Spring is engaging, hands-on and reality-based with many extensions to draw education and the community together for the common good of bettering our school. We believe that STEAM benefits all of our students, and we are very excited and proud of its success in the Cold Spring School District.
</p>

<p>
<a href=https://animoto.com/play/yeBYJFx5Ti8ko1GOw06uig>  Cold Spring School STEAM Showcase</a>
</p>

</div>



