<style>
p{

padding-top:15px;
line-height:32px;
font-size:17px;
}

ol {
margin-top:-20px;
padding-left:19px;
list-style: none;
}


ol li:before{
content: "\00BB \0020";
color:lite-blue;
}
</style>


<div class="container-fluid px-0">
<div class="row mx-0">
<div class="col-12 px-0">
<img src="/assets/carousel-2.jpg"  class="img-fluid w-100" style="margin-top:-7px">
</div>
</div>
</div>

<div class="secondDiv">
<h2 style="font-family:Roboto"> TECHNOLOGY</h2>
</div>
<div class="youarehere">
You are here:
</div>

<div class = "container" style="padding-top:20px">
<p>
We believe that our emerging challenge as educators is to prepare students to use basic skills and technology tools for thinking and problem solving. Teaching our children how to use technology means developing digital literacy.  Applying technology means integrating innovative applications and programs into the educational process. Computer literacy will be developed through familiarity and use, not merely through isolated skill instruction.  This will be based upon the integrated and meaningful use of technology into daily classroom activities, which will be designed to provide both individualized and group instruction.  Through age-appropriate applications, students at every level will use technology to:


</p>

<div style="padding-top:30px;padding-bottom:65px;margin-left:-20px;"><ol class="textLine">
<li>expand their thinking and problem solving skills</li>
<li>conduct inquiry driven research </li>
<li>gather and present information</li>
<li>exchange communication in a safe and ethical manner</li>
<li>gain new perspectives </li>
<li> reach new conclusions</li>
</ol>
</div>

<p style="margin-top:-70px;padding-bottom:30px">
In addition, as we move into full implementation of Next Generation Science Standards, our technology infrastructure and literacy will be critical to a successful transition and implementation.Technology resources will be provided at all grade levels and for all areas of academic instruction with the overall goal of preparing our students to compete effectively in the global economy of the future where such skills will be a necessity.
</p>
</div>
