




<div class="secondDiv">
<h2 >MISSION STATEMENT & HISTORY</h2>
</div>
<div class="youarehere">
You are here:
</div>

<div class="photo-text-container">
<img class="float-left" src="/assets/mission.jpg">
<h5>MISSION STATEMENT</h5>
<p class="image-text" style="line-height:28px">The mission of Cold Spring School is to provide a quality educational program
in a secure family atmosphere, which fosters a balance of academic achievement, healthy personal
development, social and environmental responsibility, and enthusiasm for lifelong learning.
<br>
<br>
Teachers, staff, parents, and the community will work together to create a school environment
in which cooperative problem-solving, creativity, and innovative thinking are encouraged,
and the unique potential of each individual student and employee is valued and nurtured
</p>
</div>

<div class="bottom-text-container">
<h5>HISTORY</h5>
<p>The Cold Spring School District began legally on April 5, 1889 when a small plot of ground,
a portion of Lot 162 of Old Pueblo Land of Santa Barbara was set aside for a school on the
south side of Sycamore Canyon Road. Cold Spring School began legally in 1889, but five years
passed before a building was ready for use in 1894. The first school property was deeded to the
School District on October 18, 1889 and the second section was deeded on December 4, 1889.
This property was deeded to the Union Realty Company on January 26, 1927, at the time of the building
of the present school.
<br>
<br>
<i>This photo shows Cold Spring School circa 1900's with the bell tower in the lower right corner of the picture</i>
</p>
</div>
