
<style>
sImage{
max-width:250px;
max-height:250px;
}

.bottom{
border-top: solid lightgray 1px;
border-bottom: solid lightgray 1px;
padding: 30px;
background-color: rgb(236, 236, 236);
font-size: 17px;
margin-bottom:80px;
line-height:37px;

}


</style>

<div class="secondDiv">
<h2 >ABOUT US</h2>
</div>
<div class="youarehere">
You are here:
</div>

<div class="container schoolimage">
<div class="photo-text-container">
<img class="float-left" src="/assets/schoolfront.jpg" style="padding-bottom:20px;">
<p class="image-text">Cold Spring School is a TK-6 public school that serves approximately 170 students in a small classroom setting. The faculty consists of a Superintendent/Principal, 10 classroom teachers, a Librarian/Reading Specialist, a Music Specialist, an Art Specialist, a Physical Education Specialist, a STEAM Specialist, a Chief Business Official, an Account Technician, Executive Assistant, Office Coordinator, Maintenance/Operations Supervisor, and eleven instructional assistants. In addition, Cold Spring also has professional artists and musicians that provide instruction in visual arts, ceramic sculpture, and instrumental music, film, as well as drama. Cold Spring was designated a California Distinguished School in 1986 and recognized as a Blue Ribbon School in 1992 and in 2016 a Gold Ribbon School. The students of Cold Spring have consistently performed in the top 5-10% of all elementary schools in the state of California. We believe the high achievement level of our students to be linked with several factors including a professional teaching staff, nurturing home environments, and excellent student motivation and effort.

 </p>
</div>
</div>

<div class="container-fluid bottom">
<p>The environment of Cold Spring School community is one that is quite special.
Located in the lush foothills of Montecito, Cold Spring has maintained a unique family
atmosphere that draws the community together for music and drama performances, art faires,
festivals, award ceremonies, athletic activities, and other family-centered events.
From classroom volunteers to serving within our valued school organizations,
the parents of Cold Spring greatly enrich the educational experience of all Cold Spring's students.</p>
<p>We hope that you enjoy learning more about our wonderful school as you visit this website.
Cold Spring benefits from a cooperative working relationship with neighboring Westmont College.
Students from Westmont involved in a work study program serve as classroom aides helping teachers
in the classroom and with other school activities.
</p>

</div>
