<div class="secondDiv">
<h2 >SUPERINTENDENT/PRINCIPAL</h2>
</div>
<div class="youarehere">
You are here:
</div>
<div style="text-align: center">
<img src="/assets/principal.jpg" style="width: 300px; display: inline-block;padding-top:30px; padding-bottom:30px">
<div style="text-align: left">
<p style="font-family:'Roboto'; font-size: 18px; line-height: 35px; margin-left: 10%; margin-right: 10%">It is an honor to introduce myself to the larger community of Santa Barbara as the
Superintendent / Principal of the Cold Spring School District.
The great team of teachers, staff, parents, and community members – all
with a passion for educational excellence that keeps us focused on what’s best for our students is such a gift.<br><br>

I can hardly believe I am entering my 22nd year in education, my 14th year as an administrator and my third year
as the Superintendent / Principal at Cold Spring School District. I began my educational career as a Kindergarten
instructional assistant at Santa Barbara Christian School. Then I taught Physical Education, Kindergarten, and First
and Fifth grades at the Santa Barbara Community Academy for seven years. I love teaching children! My love for
children and the desire to help create an atmosphere of excellence in education led me to school administration.
I was the principal of the Santa Barbara Community Academy for three years and then served as principal of Adams
Elementary School for eight years. While at Adams, I helped to change the school’s under-performing reputation by
focusing on educating the whole child. We did this by enhancing our programs in art, music, technology, physical
education, and STEAM. I also helped to create an authentic Montessori education option for some of our students
within the school’s traditional structure.  I feel blessed to have left both the Santa Barbara Community Academy
and Adams Elementary School as Title I Achieving and California Distinguished Schools.<br><br>

I gained further administrative experience when I served as the Interim Assistant Superintendent of Elementary Education
for the Santa Barbara Unified School District. While in that position, I created a comprehensive professional learning plan
for the District’s teachers that around implementing the Common Core State Standards and the Next Generation Science Standards.
I also developed a five day Summer Institute for teachers and assisted in writing the District’s LCAP.
I am committed to life-long learning and firmly believe that we should never stop learning and growing.
My own path has included a BA in Liberal Studies with a minor in Kinesiology from Westmont College and teaching
and administrative credentials, as well as two education Master’s Degrees, from Azusa Pacific University and a
doctorate in Education Leadership from Concordia University.<br><br>

For the last twenty-one years, it has been my passion to serve the children and families in Santa Barbara in
their pursuit of educational excellence. Nothing brings me greater joy than to see a child fall in love with learning!
I’ve also learned that there is something magical about a community that works together to instill PLAY,PASSION,
and PURPOSE in each and every child – the basic elements of intrinsic motivation. These three elements are explored
in the book Creating Innovators: the Making of Young People Who Will Change the World by Dr. Tony Wagner.
I’ve read the book three times and have found that it aligns with my own views about education, not only for
my own children, but for all children.<br><br>

Please feel free to stop by to say hello, you’ll probably find me either in one of the classrooms or
out on the playground.<br><br>

<span style="line-height: 45px">Sincerely,<br>
Dr. Amy Alzina<br>
Superintendent/Principal
</span>

</p>
<div style="font-family: Roboto; font-size: 18px; line-height: 35px; margin-left: 10%; margin-bottom: 120px; font-weight: bold">
<a href="http://coldspringschool.net/sites/default/files/SSDA%20Three%20Elements%20of%20Success.pdf">Three Elements of Success</a><br>
<a href="http://coldspringschool.net/sites/default/files/What%27s%20Love%20Got%20to%20Do%20With%20It%3F.pdf">What's Love Got to Do With It?</a>
</div>
</div>
</div>
