

<meta charset="utf-8">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
/* second heading */
.secondDiv{
witdh:100%;
background-color:#e5ecf9;
text-align:center;
margin-top:-8px;
padding-top:11px;
padding-bottom:11px;
text-transform:uppercase;
font-color:#3c5275;
}
.h1{
font-family:Roboto;
}

/* Contact information styling*/
.cinfo{
margin-top:10px;
padding-left:5px;
font-size:27px;
}

/*you are here styling*/

.youarehere{
font-size:15px;
background-color:#3c5275;
padding-top:7px;
padding-bottom:7px;
padding-left:20px;
color:white;
width:100%;

}


.icon-background {
color: #e5e5e5;
}

.IconStyle{
margin-top:30px;

}

.text1{
padding-left:18px;
padding-top:30px
}


.commentBox{
margin-top:7px;
}
.asterick{
color:red;
text-transform:capitalize;
padding-left:3px;
}
.labelPadding{
margin-right:15px;
}
.textUL{
text-decoration:underline;
}

.subBtn{
width:100%;
background-color:#3c5275;
font-size:16px;
text-transform:uppercase;
height:45px;
border-radius:8px;
color:white;
border:none;
}
.subBtn:hover
{

background-color:orange;
}
</style>




<div class="secondDiv">
<h2 style="font-family:Roboto">contact</h2>
</div>
<div class="youarehere">
You are here:
</div>




<div class="container">



<div class="row">
<div class="col-lg-4">

<div class="cinfo">Contact Information</div>

<div class="container">
<div class="row">
<div class="fa-stack fa-2x IconStyle ">
<i class="fa fa-circle fa-stack-2x icon-background"></i>
<i class="fa fa-home fa-stack-1x"></i>
</div>
<div style="margin-top:30px; margin-left:12px;"><b>COLD SPRINGS SCHOOL</b><br>
2243 Sycamore Canyon Road<br>
Santa Barbara, CA 93108
</div>
</div>

<div class="row">
<div class="fa-stack fa-2x IconStyle ">
<i class="fa fa-circle fa-stack-2x icon-background"></i>
<i class="fa fa-phone fa-stack-1x"></i>
</div>
<div class="text1" ><b>PHONE NUMBER</b><br>
Phone: (805) 969-2678<br>
Fax: (805) 969-0787</div>
</div>

<div style="margin-top:45px; word-wrap: break-word;"><pre><span class = "textUL">DIRECTIONS AND MAP</span>

1. Take exit 94B on the left
for Cabrillo Blvd toward
Hot Springs Rd
2. Turn left onto E Cabrillo
Blvd
3. At the traffic circle,
take the 2nd exit onto
Hot Springs Rd
4. Turn left onto
Sycamore Canyon Rd
Destination will be on
the right

<a href="#" class="textUL" >View Google Map</a>

<a href="#" class="textUL" >FACULTY & STAFF DIRECTORY</a></pre>
</div>

</div>

</div>

<div class="col-lg-8" >
<form style="padding-top:60px">

<div>
<div class="form-row">

<div class="form-group col-md-4">
<label for="inputEmail4">Name<span class = "asterick">*</span></label>
<input type="email" class="form-control rounded-0" id="inputEmail4" >
</div>

<div class="form-group col-md-4">
<label for="inputEmail4">Email<span class = "asterick">*</span></label>
<input type="email" class="form-control rounded-0" id="inputEmail4" >
</div>

<div class="form-group col-md-4">
<label for="inputPassword4">Subject<span class = "asterick">*</span></label>
<input type="password" class="form-control rounded-0" id="inputPassword4" >
</div>
</div>

<div class="form-group">
<label for="exampleFormControlTextarea1">Message<span class = "asterick">*</span></label>
<textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="8"></textarea>
</div>
</div>


<div style="padding-top:25px;padding-bottom:30px" class="g-recaptcha" data-sitekey="6LedbMUUAAAAACY2svrG9HuRmmLXBqPVHnX7D5_t "></div>

<div  style="padding-bottom:50px;">

<button  class="subBtn " value="Submit">submit</button>
</div>
</form>
</div>



</div>
</div>


