// Place all the styles related to the programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.secondDiv{
witdh:100%;
background-color:#e5ecf9;
text-align:center;
margin-top:-8px;
padding-top:11px;
padding-bottom:11px;
text-transform:uppercase;
font-color:#3c5275;
}
.h1{
font-family:Roboto;
}

/* Contact information styling*/
.cinfo{
margin-top:10px;
padding-left:5px;
font-size:27px;
}

/*you are here styling*/

.youarehere{
font-size:15px;
background-color:#3c5275;
padding-top:7px;
padding-bottom:7px;
padding-left:20px;
color:white;
width:100%;


}


.dolphimage{
 margin-top:70px;
  padding-left:30px;
  padding-right:60px;
 }

.textLine{
line-height:30px;
font-size:18px;
}

.textUL{
text-decoration:underline;
}








