
<div class="secondDiv">
<h2 >WILLIAMS COMPLAINT RIGHTS</h2>
</div>
<div class="youarehere">
You are here:
</div>


<div>
<div style="text-align: center">
<h2 style="display: inline-block; font-weight: bolder">Cold Spring School District</h2><br><br>

<h3 style="display: inline-block; font-weight: bolder">Williams Complaint Classroom Notice</h3>
<p style="display: inline-block">Provided by the California Department of Education · Categorical Programs Complaints Management Office ·
1430 N Street, Sacramento, CA 95815 · 916-319-0929</p>
<hr>
</div>



<div style="text-align: center">
<p style="display: inline-block; color: red;">Williams Complaint Classroom Notice<br></br>
Notice to Parents, Guardians, Pupils, and Teachers<br></br>

Complaint Rights</p>
</div>

<h3>Pursuant to California Education Code Section 35186, you are hereby notified that:</h3>
<ol>
<li>There should be sufficient textbooks and instructional materials. That means each pupil,
including English learners, must have a textbook or instructional materials, or both,
to use in class and to take home.</li>

<li>School facilities must be clean, safe, and maintained in good repair.<br>
There should be no teacher vacancies or misassignments. There should be a teacher assigned
to each class and not a series of substitutes or other temporary teachers. The teacher should
have the proper credential to teach the class, including the certification required to teach
English learners if present.<br>
Teacher vacancy means a position to which a single designated certificated employee has not
been assigned at the beginning of the year for an entire year or, if the position is for a
one-semester course, a position to which a single designated certificated employee has not been
assigned at the beginning of a semester for an entire semester.</li>



<li>Misassignment means the placement of a certificated employee in a teaching or services position for
which the employee does not hold a legally recognized certificate or credential or the placement of
a certificated employee in a teaching or services position that the employee is not otherwise
authorized by statute to hold.</li>



<li>Pupils, including English Learners, who have not passed one or both parts of the high school exit
examination by the end of the 12th grade are to be provided the opportunities to receive intensive
instruction and services for up to two consecutive academic years after the completion of grade 12.</li>



<li>A complaint form may be obtained at the school/district office. You may also download a copy of the
California Department of Education complaint form from the following
Website: http://www.cde.ca.gov/re/cp/uc.</li>
</ol>
</div>
