<div class="secondDiv">
<h2 style="font-family:Roboto"> FACILITIES</h2>
</div>
<div class="youarehere">
You are here:
</div>
<div>
<a href="">IPM Plan 2018-19</a>

<h2>Application for Use of Facilities</h2>
<p>The Superintendent/Principal or designee shall maintain application procedures and regulations
for the use of school facilities which: (Education Code 38133)</p>

<ol>
<li>Encourage and assist groups desiring to use school facilities for approved activities.</li>
<li>Preserve order in school buildings and on school grounds, and protect school facilities.
If necessary, a person may be designated to supervise this task.</li>
<li>Ensure that the use of facilities or grounds is not inconsistent with the use of the school
facilities or grounds for school purposes and does not interfere with the regular conduct of
school work.</li>
</ol>
<p>Any persons applying for the use of school property on behalf of any society, group or organization
shall present written authorization from the group to make the application.<br><br>

For more information on Facilities Use, please contact Coral Godlis.<br><br>

To request use of our Facilities, please complete our online Facilities Use Fillable Form.</p>

</div>
